/* Login.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
    /* background: linear-gradient(to bottom, black, #e0e0e0); */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.login-container {
    width: 100%;
    max-width: 400px;
    margin: auto;

}

.login-form {
    background-color: white;
    padding: 2.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form h2 {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
}

.login-form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #2980b9;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 0.8rem;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #1f639d;
}

.login-form input::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .login-form {
        padding: 1.5rem;
    }
}
