.App {
  text-align: center;
}
body{
  overflow-x: hidden;
 background-image: url("https://plus.unsplash.com/premium_vector-1722607826599-1a2e9cbd142b?q=80&w=1800&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

h3, h4 {
  font-family: 'Lobster', cursive;
}

.card-content {
  transition: transform 0.3s ease-in-out;
}

.card-content:hover {
  transform: scale(1.05);
}
body{
  overflow-x: hidden;
  backdrop-filter: "0.6";
  background-image: url('https://cdn.pixabay.com/photo/2024/06/08/20/29/meeting-8817513_1280.jpg');
/* sx={{
  paddingTop: { xs: '70rem', sm: '35rem', md: '40rem' }, // Adjust padding for smaller screens
}} */
}
.MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease-in-out;
}

.MuiCard-root:hover {
  transform: scale(1.05);
}

/* Style for the centered avatar and text in success stories */
.success-story {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

.grid-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.9));
}
.appsection{
  padding-top: 100px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.static{
  background: none;
}
.navbar-icon {
 /* Adjust space between icon and text */
  font-size: 0.2rem; /* Adjust the font size of the text */
}
/* Custom horizontal scrollbar */
::-webkit-scrollbar {
  height: 8px; /* Set height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background of the track */
  border-radius: 40px; /* Rounded track edges */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 40px; /* Rounded scrollbar thumb */
  border: 2px solid #a71616; /* Space between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darken on hover */
}
/* For Firefox */

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scroll-behavior: smooth; /* Smooth scrolling */
  scroll-padding: 5px; /* Padding for the scroll */
  scrollbar-color: rgb(13, 13, 9) #a8caba; /* Thumb and track colors for Firefox */
  


 
  
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
